body {
    background-color: rgb(232, 232, 232);
}
.container {
    background-color: rgb(255, 255, 255);
}
.row{
    padding: 0;
    margin: 0;
}
#nav {
    margin-top: 2vh;
    padding: 2.2vh 0 1.8vh 0;
}
#nav span {
    color: rgb(16, 162, 195);
}
#nav li {
    display: inline;
    padding: 0 5px;
}
#nav li a {
    color: rgb(180, 183, 184);
    font-size: 1.2em
}
#nav li a:hover {
    text-decoration: none;
    color: black;
}
#nav h1 {
    color: rgb(180, 183, 184);
    padding: 0.5vh 0 1vh 2vh;
}
#nav i {
    margin-right: 5px;
    color: rgb(64, 242, 1);
}

ul {
    margin-top: 1.3vh;
}

#head #HeadTitle {
    color: whitesmoke;
    padding: 3.2vh 0;
    background-color: rgb(16, 162, 195);
}
#HeadContent h5 {
    color: rgb(16, 162, 195);
    padding: 2.5vh 0;
}
#HeadContent p {
    color: rgb(180, 183, 184);
    font-size: 1.15em
}
#head i {
    color: rgb(49, 47, 120);
    font-size: 4em;
    padding-bottom: 0.8vh;
}
#head h5 {
    color: rgb(16, 162, 195);
}
#HeadParagraphe p{
    color: rgb(180, 183, 184);
}

#ContentTitle {
    color: whitesmoke;
    padding: 5vh 0 4.5vh 0;
    background-color: rgb(49, 47, 120);
}
#ContentTitle h4 {
    width: 50vh;
    margin: auto;
    padding: 2vh 0;
    background-color: rgb(64, 242, 1);
}
#ContentTitle a {
    color: whitesmoke;
}

#content {
    color: whitesmoke;
    background-color: rgb(16, 162, 195);
}

#articles h3 {
    padding: 3vh 0;
}
#articles h4 {
    padding: 2.5vh;
}

.btn-success {
    background-color: rgb(64, 242, 1);
}
#article2 h4 {
    padding: 2vh;
}

#SignUp {
    padding: 2vh 0;
    color: black;
    background-color: whitesmoke;
}
#SignUp h4 {
    color: rgb(16, 162, 195);
}
#SignUp p {
    color: rgb(180, 183, 184);
}

#help {
    color: whitesmoke;
    background-color: rgb(49, 47, 120);
}
#contact {
    color: rgb(180, 183, 184);
    background-color: rgb(255, 255, 255);
}

#footer {
    background-color: rgb(232, 232, 232);
}
}